html, body {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.wrapper {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-gap: 10px;
  background-color: #fff;
  color: #212121;
  height: 80vh;
  width: 90vw;
}

.box {
  background-color: #212121;
  color: #c6ff00;
  border-radius: 40px;
  padding-top: 3vh;
  font-size: 5vh;
  text-align: center;
}

.box-alt {
  background-color: #fff;
  color: #212121;
  border-radius: 40px;
  padding-top: 3vh;
  font-size: 5vh;
  text-align: center;
}
